Repository nf-core/tools, pull requests merged in 2020-01, with the labels that each got.

#486 CI Tests: Force package version to be dev
  .travis.yml
  CHANGELOG.md
  tests/test_lint.py
Labels: linting

#485 Template: Fix ANSI codes in summary log messages
  CHANGELOG.md
  nf_core/pipeline-template/{{cookiecutter.name_noslash}}/main.nf
Labels: template

#488 GitHub Actions: add TODO statement to encourage customisation
  CHANGELOG.md
  nf_core/pipeline-template/{{cookiecutter.name_noslash}}/.github/workflows/ci.yml
Labels: linting, template

#493 Lint errors: pad with whitespace
  CHANGELOG.md
  nf_core/lint.py
Labels: linting

#495 improve installation docs
  CHANGELOG.md
  README.md
Labels: documentation

#487 Add GitHub actions CI testing for tools package
  .github/.coveragerc
  .github/coveragerc
  .github/workflows/code-tests.yml
  CHANGELOG.md
  nf_core/licences.py
  nf_core/pipeline-template/{{cookiecutter.name_noslash}}/.github/workflows/linting.yml
Labels: command line tools
