Repository nf-core/tools, pull requests merged in 2024-05, with the labels that each got.

#2941 Added `-profile wave` to the template.
  nf_core/pipeline-template/docs/usage.md
  nf_core/pipeline-template/nextflow.config
Labels: template

#2938 nf-core download: Ability to add custom tags to revisions in downloaded pipelines
  CHANGELOG.md
  README.md
  nf_core/__main__.py
  nf_core/download.py
  nf_core/synced_repo.py
  tests/test_cli.py
  tests/test_download.py
Labels: enhancement

#2911 Docs lift shift
  README.md
  docs/api/_src/index.md
  docs/images/nf-core-bump-version.svg
  docs/images/nf-core-create-logo.svg
  docs/images/nf-core-create.svg
  docs/images/nf-core-download-tree.svg
  docs/images/nf-core-download.svg
  docs/images/nf-core-launch-rnaseq.svg
  docs/images/nf-core-licences.svg
  docs/images/nf-core-lint.svg
  docs/images/nf-core-list-rna.svg
  docs/images/nf-core-list-stars.svg
  docs/images/nf-core-list.svg
  docs/images/nf-core-logo.png
  docs/images/nf-core-modules-bump-version.svg
  docs/images/nf-core-modules-create.svg
  docs/images/nf-core-modules-info.svg
  docs/images/nf-core-modules-install.svg
  docs/images/nf-core-modules-lint.svg
  docs/images/nf-core-modules-list-local.svg
  docs/images/nf-core-modules-list-remote.svg
  docs/images/nf-core-modules-patch.svg
  docs/images/nf-core-modules-remove.svg
  docs/images/nf-core-modules-test.svg
  docs/images/nf-core-modules-update.svg
  docs/images/nf-core-schema-build.svg
  docs/images/nf-core-schema-lint.svg
  docs/images/nf-core-schema-validate.svg
  docs/images/nf-core-subworkflows-create.svg
  docs/images/nf-core-subworkflows-info.svg
  docs/images/nf-core-subworkflows-install.svg
  docs/images/nf-core-subworkflows-lint.svg
  docs/images/nf-core-subworkflows-list-local.svg
  docs/images/nf-core-subworkflows-list-remote.svg
  docs/images/nf-core-subworkflows-remove.svg
  docs/images/nf-core-subworkflows-test.svg
  docs/images/nf-core-subworkflows-update.svg
  docs/images/nf-core-sync.svg
  docs/images/nfcore-tools_logo_dark.png
  docs/images/nfcore-tools_logo_light.png
  nf_core/pipelines/create/create.py
Labels: documentation, high-priority

#3005 Add organization to `main.nf.test` tag instead of using `nfcore`
  CHANGELOG.md
  nf_core/components/create.py
  nf_core/module-template/tests/main.nf.test.j2
  nf_core/modules/lint/module_tests.py
  nf_core/subworkflow-template/tests/main.nf.test.j2
  nf_core/subworkflows/lint/subworkflow_tests.py
Labels: template, modules, enhancement, subworkflows
